/* Estilos para la sección Projects */
.featured-projects {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.featured-projects h2 {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project-card {
    background: var(--secondary-color);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--primary-color), transparent);
    transition: left 0.5s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px var(--primary-color);
}

.project-card:hover::before {
    left: 100%;
}

.project-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.project-card:hover .project-image img {
    transform: scale(1.1);
}

.project-content {
    padding: 20px;
    text-align: left;
}

.project-content h3 {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.project-content p {
    font-size: 1em;
    color: #ccc; 
    margin-bottom: 20px;
}

.project-links {
    display: flex;
    gap: 10px;
}

.project-links .btn {
    flex: 1;
    text-align: center;
}
