:root {
    /* Tema por defecto (claro) */
    --primary-color: #ff0077;
    --secondary-color: #222;
    --background-color: #0a0a0a;
    --text-color: #ffffff;
    --accent-color: #444; /* Un color de acento para detalles */
}

/* Tema oscuro */
.dark-theme {
    --primary-color: #aa0055; /* Un tono más oscuro de rosa */
    --secondary-color: #111;
    --background-color: #000;
    --text-color: #eee;
    --accent-color: #333;
}

/* Tema azul */
.blue-theme {
    --primary-color: #007bff; /* Azul brillante */
    --secondary-color: #1a202c; /* Gris oscuro azulado */
    --background-color: #0d1117; /* Negro azulado */
    --text-color: #f0f6fc; /* Blanco azulado */
    --accent-color: #38444f;
}

/* Tema verde */
.green-theme {
    --primary-color: #28a745; /* Verde brillante */
    --secondary-color: #151b1e; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f8f9fa; /* Blanco hueso */
    --accent-color: #17a2b8; /* Un verde azulado para detalles */
}

/* Tema morado */
.purple-theme {
    --primary-color: #6f42c1; /* Morado intenso */
    --secondary-color: #1e1e1e; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f2f2f2; /* Gris claro */
    --accent-color: #8a6ac2; /* Un tono más claro de morado */
}

/* Tema naranja */
.orange-theme {
    --primary-color: #fd7e14; /* Naranja vivo */
    --secondary-color: #1a1a1a; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f8f9fa; /* Blanco hueso */
    --accent-color: #e9ecef; /* Un gris muy claro */
}

/* Tema rosa */
.pink-theme {
    --primary-color: #e83e8c; /* Rosa fuerte */
    --secondary-color: #1e1e1e; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f2f2f2; /* Gris claro */
    --accent-color: #f0ad4e; /* Un amarillo mostaza */
}

/* Tema gris */
.gray-theme {
    --primary-color: #6c757d; /* Gris medio */
    --secondary-color: #343a40; /* Gris oscuro */
    --background-color: #212529; /* Negro suave */
    --text-color: #f8f9fa; /* Blanco hueso */
    --accent-color: #007bff; /* Azul brillante */
}