:root {
    /* Tema por defecto (claro) */
    --primary-color: #ff0077;
    --secondary-color: #222;
    --background-color: #0a0a0a;
    --text-color: #ffffff;
    --accent-color: #444; /* Un color de acento para detalles */
    --hoverbtn-color: #aa0055;
}

/* Tema oscuro */
.dark-theme {
    --primary-color: #a3001b; /* Un tono más oscuro de rosa */
    --secondary-color: #1111118e;
    --background-color: #000;
    --text-color: #eee;
    --accent-color: #333;
    --hoverbtn-color: #ff3939;

}

/* Tema azul */
.blue-theme {
    --primary-color: #007bff; /* Azul brillante */
    --secondary-color: #1a202c83; /* Gris oscuro azulado */
    --background-color: #0d1117; /* Negro azulado */
    --text-color: #f0f6fc; /* Blanco azulado */
    --accent-color: #38444f;
    --hoverbtn-color: #003cff;

}

/* Tema verde */
.green-theme {
    --primary-color: #28a745; /* Verde brillante */
    --secondary-color: #13131386; /* Gris muy oscuro */
    --background-color: #000000;
    --text-color: #f8f9fa; /* Blanco hueso */
    --accent-color: #01b487; /* Un verde azulado para detalles */
    --hoverbtn-color: #8fdb00;

}

/* Tema morado */
.purple-theme {
    --primary-color: #6f42c1; /* Morado intenso */
    --secondary-color: #1e1e1e8c; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f2f2f2; /* Gris claro */
    --accent-color: #8a6ac2; /* Un tono más claro de morado */
    --hoverbtn-color: #9600aa;

}

/* Tema naranja */
.orange-theme {
    --primary-color: #fd7e14; /* Naranja vivo */
    --secondary-color: #1a1a1a8a; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f8f9fa; /* Blanco hueso */
    --accent-color: #92929285; /* Un gris muy claro */
    --hoverbtn-color: #fc5000;

}

/* Tema rosa */
.pink-theme {
    --primary-color: #e83e8c; /* Rosa fuerte */
    --secondary-color: #1e1e1e96; /* Gris muy oscuro */
    --background-color: #000;
    --text-color: #f2f2f2; /* Gris claro */
    --accent-color: #d778e46b; /* Un amarillo mostaza */
    --hoverbtn-color: #aa0055;

}

/* Tema gris */
.gray-theme {
    --primary-color: #707b85; /* Gris medio */
    --secondary-color: #343a409c; /* Gris oscuro */
    --background-color: #212529; /* Negro suave */
    --text-color: #f8f9fa; /* Blanco hueso */
    --accent-color: #ff660071; /* Azul brillante */
    --hoverbtn-color: #a78e0080;

}